@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 01");
}

@section banner {
    <h1>@Page.Title</h1>
}

<form id="theForm" method="post">
    <div class="row">
        <div class="offset-1">
            <label>What is your Pokémon trainer name?</label>
        </div>
    </div>
    <div class="row">

    </div>
</form>