@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 02_C");

    var cid = Request.QueryString["cid"];
    <p>Your choice was: @cid</p>

    if (string.IsNullOrEmpty(cid))
    {
        Response.Redirect("Exercise02_A.cshtml");
    }

    var db = Database.Open("CHINOOK");
    var albumquery = @"SELECT AlbumId, Title, ReleaseYear, ReleaseLabel 
        FROM Albums
        WHERE ArtistId = @0
        ORDER BY Title";
    var albuminfo = db.Query(albumquery, cid);

    var artistquery = @"SELECT Name 
        FROM Artists
        WHERE ArtistId = @0";
    var artistname = db.QueryValue(artistquery, cid);

    var gridinstance = new WebGrid(albuminfo, rowsPerPage: 5);
}
@section banner {<h1>WebGrid Display</h1>}
<div class="offset-1">
    <h3>Albums For @artistname</h3>
    <div class="col-11">
        @gridinstance.GetHtml(
            tableStyle: "table table-striped table-bordered table-hover",
            mode: WebGridPagerModes.All,
            firstText: "Start",
            lastText: "End",
            columns: gridinstance.Columns(
               gridinstance.Column(columnName: "AlbumID", header: "ID"),
               gridinstance.Column(columnName: "Title", header: "Title"),
               gridinstance.Column(columnName: "ReleaseYear", header: "Release Year", canSort: false),
               gridinstance.Column(columnName: "ReleaseLabel", header: "Release Lable", canSort: false)))
    </div>
</div>
