@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 04 - WebGrid Display");

    var pid = Request.QueryString["pid"];
    <p>A search was done with the following partial string for ProductName: @pid</p>

    if (string.IsNullOrEmpty(pid))
    {
        Response.Redirect("Exercise04.cshtml");
    }

    var db = Database.Open("CHINOOK");
    var partialstring = "%" + pid + "%";
    var albumquery = @"SELECT ALbumId, Title, ArtistId, ReleaseYear, ReleaseLabel "
                + "FROM Albums "
                + "WHERE Title LIKE @0 "
                + "ORDER BY Title";
    var albuminfo = db.Query(albumquery, partialstring);

    var grid = new WebGrid(albuminfo, rowsPerPage: 5);
}
@section banner {<h1>@Page.Title</h1>}
<div class="offset-1">
    <div class="col-11">
        @grid.GetHtml("table table-bordered table-striped table-hover",
        mode: WebGridPagerModes.All,
        lastText: "Last",
        firstText: "First",
        columns: grid.Columns(
            grid.Column(columnName: "AlbumID", header: "ID"),
            grid.Column(columnName: "Title", header: "Title"),
            grid.Column(columnName: "ArtistID", header: "Atist ID"),
            grid.Column(columnName: "ReleaseYear", header: "Release Year"),
            grid.Column(columnName: "ReleaseLabel", header: "Release Label"),
            grid.Column(header: "", format: @<text><a href="~/ExercisePages/Exercise04-Edit.cshtml?pid=@item.AlbumId">Edit</a></text>)))
    </div>
</div>